body {
  text-align: center;
  color: black;
  background-color: white;
  min-width: 350px;
  font-family: "Times New Roman";
}
#root {
  min-width: 350px;
  width: 100%;
  height: 100%;
}
.w-100 {
  width: 100%;
}
// text
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
// display
.d-flex {
  display: flex;
}
// flex
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
// justify contetn
.justify-content-start {
  justify-content: start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}
// align items
.align-items-start {
  align-items: start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: ceendnter;
}
/* title */
.hyper-link-style {
  color: blue; /* Set the color to a typical hyperlink color */
  text-decoration: underline; /* Underline the text */
  cursor: pointer; /* Show pointer cursor on hover, giving a clickable feel */
}
.hyper-link-style:hover {
  color: purple; /* Change the color on hover to make it more interactive */
}
/* button */
.button-hover-blue:hover {
  color: blue;
}
/* scroll bar */
// Hide the scrollbar
.hide-scroll-bar::-webkit-scrollbar {
  width: 0.5em; /* adjust width as needed */
}
