body {
  text-align: center;
  color: black;
  background-color: white;
  min-width: 1000px;
}
#root {
  width: 100%;
  min-width: 1000px;
  height: 100%;
}
.w-100 {
  width: 100%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
